li {
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}
body {
  font-family: var(--font-family);
  box-sizing: border-box;
  color: var(--main);
}

:root {
  --font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  --main: #101828;
  --text: #475467;
  --features: #f2f4f7;
  --button: #e44848;
  --white: #ffffff;
  --input: #f7f7f7;
}
