@import url("./service/fonts.css");
@import url("./service/root.css");
@import "normalize.css/normalize.css";

li {
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}
body {
  max-width: 1440px;
  padding: 100px 64px;
  margin: 0 auto;
  font-family: var(--font-family);
  box-sizing: border-box;
  color: var(--main);
}
